
build-QtCardGame-Desktop_Qt_6_5_2_MinGW_64_bit-Debug/Makefile.Release
build-QtCardGame-Desktop_Qt_6_5_2_MinGW_64_bit-Debug/Makefile.Debug
build-QtCardGame-Desktop_Qt_6_5_2_MinGW_64_bit-Debug/Makefile
build-QtCardGame-Desktop_Qt_6_5_2_MinGW_64_bit-Debug/debug/QtCardGame.exe
build-QtCardGame-Desktop_Qt_6_5_2_MinGW_64_bit-Debug/debug/qrc_game.cpp
build-QtCardGame-Desktop_Qt_6_5_2_MinGW_64_bit-Debug/debug/moc_qgamelogic.cpp
build-QtCardGame-Desktop_Qt_6_5_2_MinGW_64_bit-Debug/debug/moc_predefs.h
build-QtCardGame-Desktop_Qt_6_5_2_MinGW_64_bit-Debug/debug/moc_mainwindow.cpp
*.stash
*.idx
*.rc
*.Release
*.o
*.Debug
build-QtCardGame-Desktop_Qt_6_5_2_MinGW_64_bit-Release/release/moc_mainwindow.cpp
build-QtCardGame-Desktop_Qt_6_5_2_MinGW_64_bit-Release/release/moc_qgamelogic.cpp
build-QtCardGame-Desktop_Qt_6_5_2_MinGW_64_bit-Release/Makefile
*.json
build-QtCardGame-Desktop_Qt_6_5_2_MinGW_64_bit-Release/release/moc_predefs.h
build-QtCardGame-Desktop_Qt_6_5_2_MinGW_64_bit-Release/release/qrc_game.cpp
build-QtCardGame-Desktop_Qt_6_5_2_MinGW_64_bit-Release/release/QtCardGame.exe
